In [1]:
a = 10
if a == 10 :
    print('this is my first condition')

this is my first condition

In [2]:
a = 10
if a == 11 :
    print('this is my first condition')

In [3]:
a = 10
if a > 5 :
    pass

In [4]:
a = 10
if a > 8:
    print('if condition is true')

if condition is true

In [5]:
a = 10
if a < 8:
    print('if condition is true')

In [6]:
a = 10
if a != 11 :
    print('my condition is false')
else :
    print('this')

my condition is false

In [7]:
a = 10
if a == 11 :
    print('my condition is false')
else :
    print('this')

this

In [8]:
a = 10
if a == 12 :
    print('here we are trying to compare 10 with 12')
elif a == 11 :
    print ('we are trying to 10 with 11')
else :
    print('if all the blocks will fail then do this')

if all the blocks will fail then do this

In [9]:
a = 10
if a == 12 :
    print('here we are trying to compare 10 with 12')
elif a == 10 :
    print ('we are trying to 10 with 10')
else :
    print('if all the blocks will fail then do this')

we are trying to 10 with 10

In [10]:
price = 500
if price > 500 :
    print('may be i wont be able to buy')
elif price < 500:
    print('i will be able to buy')

In [13]:
price = 500
if price > 500 :
    print('may be i wont be able to buy')
elif price <= 500 :
    print('i will be able to buy')

i will be able to buy

In [14]:
price = 500
if price > 500 :
    print('may be i wont be able to buy')
elif price < 500:
    print('i will be able to buy')
elif price == 500 :
    print('i will buy')
else :
    print('i dont know')

i will buy

In [15]:
price > 500

False

In [16]:
l = [1,2,3,4,5,6]
2 in l

True

In [17]:
l = [1,2,3,4,5,6]
if 2 in l :
    print('perform it')
else :
    print('dont perform')

perform it

In [18]:
l = [1,2,3,4,5,6]
if 60 in l :
    print('perform it')
else :
    print('dont perform')

dont perform

In [19]:
if 1 in l:
    print('try to do addition')
elif 2 in l:
    print('try to do sub')
elif 3 in l:
    print('try to do multipicaTION')

try to do addition

In [20]:
if 10 in l:
    print('try to do addition')
elif 2 in l:
    print('try to do sub')
elif 3 in l:
    print('try to do multipicaTION')

try to do sub

In [22]:
if 10 in l:
    print('try to do addition')
elif 20 in l:
    print('try to do sub')
elif 3 in l:
    print('try to do multipicaTION')
if 4 in l:
    print('this is new statement')

try to do multipicaTION
this is new statement

In [30]:
a = input()

jdbsjhdb

In [31]:
a

'jdbsjhdb'

In [28]:
b = int(input())

345

In [29]:
b

345

In [39]:
price = int(input())
if price < 500 :
    print('i will be able to buy something')
    if price < 400:
        print ('i will be able to buy')
    elif price< 300:
        print('i will be able to buy')
    else :
        print('i wont be able to buy')
else :
    print('i wont be able to buy anything')

900
i wont be able to buy anything

In [40]:
price = int(input())
if price < 500 :
    print('i will be able to buy something')
    if price < 400:
        print ('i will be able to buy')
    elif price< 300:
        print('i will be able to buy')
        if price < 200:
            print('i would like to do anything')
    else :
        print('i wont be able to buy')
else :
    print('i wont be able to buy anything')
    if price > 500:
        print('lets try something else')

600
i wont be able to buy anything
lets try something else

In [43]:
val = float(input('enter a floating number:'))
if val >= 0:
    if val == 0:
        print('enterd value is zero')
    else :
        print('enter value is +')
else :
    print('enter value is -')

enter a floating number:-25
enter value is -

In [47]:
a = int(input())
if a <= 10 or a == 10 :
    print('try to do something')

25

In [49]:
a = int(input())
if a <= 10 and a == 10 :
    print('try to do something')

26

In [50]:
a = 10
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13:
    print('lets do something')

In [51]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13:
    print('lets do something')

lets do something

In [52]:
d = {'key1' : 'values', 'key2' : 'pawan', 'key3' : 'iNeuron'}

In [57]:
if d['key1'] == 'values' and d['key2'] == 'pawan' and d['key3'] == 'iNeuron' :
    print('all the values are verified')
else :
    print('not verified')

all the values are verified

In [58]:
l = [1,2,3,4,5, 'pawan', 234.45]

In [59]:
for i in l :
    print(i)

1
2
3
4
5
pawan
234.45

In [60]:
for i in l :
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [64]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
pawan1
235.45