In [1]:
l = [1,2,3,4, 'pawan', 'kumar', 45.36]

In [2]:
for i in l:
    print(i)

1
2
3
4
pawan
kumar
45.36

In [4]:
for i in l:
    pass

In [5]:
s = 'pawan'

In [6]:
for i in s:
    print(i)

p
a
w
a
n

In [7]:
for i in l:
    print(i)
else :
    print('if for loop is going to complete itself the it will execute else')

1
2
3
4
pawan
kumar
45.36
if for loop is going to complete itself the it will execute else

In [10]:
for i in l:
    if i == 4:
        break
    print(i)
else:
    print('this will execute on;y if for is going to complete itself')

1
2
3

In [12]:
s = 'pawan'
for i in s:
    if i == 'z':
        break
    print(i)
else:
    print('print string', s)

p
a
w
a
n
print string pawan

In [13]:
t = (4,5,6,7,8,6, 'pawan')
for i in t:
    print(i)

4
5
6
7
8
6
pawan

In [14]:
b = {4,4,5,6,7,7,7,7,78,8,9, 'pawan'}

In [15]:
b

{4, 5, 6, 7, 78, 8, 9, 'pawan'}

In [16]:
for i in b:
    print(i)

4
5
6
7
8
9
78
pawan

In [25]:
d = {'key1' : 'pawan', 'contact' : '9470754463'}
for i in d:
    print(i, ":" ,d[i])

key1 : pawan
contact : 9470754463

In [18]:
d['key1']

'pawan'

In [26]:
range(9)

range(0, 9)

In [27]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [31]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

list(range(0,9,-1))

In [35]:
n = 4
for i in range(5):
    for j in range(0, i+1):
        print('pk', end= ' ')
    print('\n')

pk

pk pk

pk pk pk

pk pk pk pk

pk pk pk pk pk

In [38]:
for i in range(len(t)):
    print(i, t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [39]:
t = (3,23,45,67,2,4,5,6)

In [40]:
t[0]

3

In [41]:
s = 'iNeuron'
for i in range(len(s)):
    print(i, s[i])

0 i
1 N
2 e
3 u
4 r
5 o
6 n

In [42]:
len(range(9))

9

In [43]:
s = 'iNeuron'
for i in range(len(s)-1, -1, -1):
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 N
0 i

In [44]:
l = ['pawan', 'kumar', 32546, 56, 'pk', 369]

In [46]:
l1 =[]
for i in l:
    if type(i) == int:
        l1.append(i)

In [47]:
l1

[32546, 56, 369]

In [48]:
s = 'aaaaabbccd'

In [50]:
for i in set(s):
    print(i , ':', s.count(i))

c : 2
d : 1
a : 5
b : 2

In [51]:
i = 34488953794875987334
for j in i:
    print(j)

TypeError: 'int' object is not iterable

In [53]:
for j in str(i):
    print(int(j), type(int(j)))

3 <class 'int'>
4 <class 'int'>
4 <class 'int'>
8 <class 'int'>
8 <class 'int'>
9 <class 'int'>
5 <class 'int'>
3 <class 'int'>
7 <class 'int'>
9 <class 'int'>
4 <class 'int'>
8 <class 'int'>
7 <class 'int'>
5 <class 'int'>
9 <class 'int'>
8 <class 'int'>
7 <class 'int'>
3 <class 'int'>
3 <class 'int'>
4 <class 'int'>

In [66]:
t = ('pawan', 'kumar', [1,2,3,4,5], (3,4,5,6), {'key1': 'pawan', 'key2': 'kumar'})

In [67]:
for i in t:
    if type(i) == list or type(i) == tuple or type(i) == dict:
        for j in i:
            if j == 3:
                print(j)

3
3