In [10]:
a = 1
b = 10
while a <= b:
    print(a)
    a = a +1

1
2
3
4
5
6
7
8
9
10

In [1]:
a = 1
b = 10
while a <= b:
    print(a)
    a = a + 2
else:
    print('print else block')

1
3
5
7
9
print else block

In [2]:
a = 1
b = 10
while a < 10:
    print(a)
    if a == 5:
        break
    a = a + 1
else :
    print('print this')

1
2
3
4
5

In [ ]:
a = 1
b = 10
while a < b:
    print(a)
    if a == 3:
        continue
    a = a + 1

In [3]:
a = 1
b = 10
while a < b:
    a = a + 1
    if a == 3:
        continue
    print(a)

2
4
5
6
7
8
9
10

In [4]:
l = [1,2,3,4,65,56]

In [5]:
for i in l:
    print(i)

1
2
3
4
65
56

In [6]:
a = 0
while a < len(l):
    print(l[a])
    a = a+ 1

1
2
3
4
65
56

In [6]:
t = (3,4,5,6,7,8,9)
a = 0
while a >= -len(t):
    if t[a] == 6 or t[a] == 7:
        print(a)
    a = a - 1

-3
-4

In [7]:
t = (3,4,5,6,7,8,9)
a = 0
while a < len(t):
    if t[a] == 6 or t[a] == 7:
        print(a)
    a = a + 1

3
4

In [12]:
t = (3,4,5,6,7,8,9)
a = 0
while a < len(t):
    if t[a] == 6 or t[a] == 7:
        print(a)
    if a == -len(t):
        break
    a = a - 1

-3
-4

In [13]:
t = (6,4,5,6,7,8,6)
a = -1
while a >= -len(t):
    if t[a] == 6 or t[a] == 7:
        print('index of', t[a], 'is', a)
    a = a-1

index of 6 is -1
index of 7 is -3
index of 6 is -4
index of 6 is -7

In [14]:
d = {'k1' : 'pawan', 'k2' : [1,2,3,4], 'k3' : (2,3,4,5)}

In [15]:
len(d)

3

In [18]:
a = 0
b = list(d.keys())
while a < len(d):
    print(d[b[a]])
    a = a+1

pawan
[1, 2, 3, 4]
(2, 3, 4, 5)

# function

In [21]:
def test():
    print('this is my first function')

In [24]:
test()

this is my first function

In [25]:
test() + 'pawan'

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [26]:
str(test()) +'pawan'

this is my first function

'Nonepawan'

In [27]:
def test1():
    return 'this is my first function'

In [30]:
type(test1())

str

In [33]:
test1() + ' pawan'

'this is my first function pawan'

In [34]:
def test2():

IndentationError: expected an indented block (Temp/ipykernel_4156/1647743786.py, line 1)

In [35]:
def test3():
    return 1,2,3,5,[1,2,3,5,54]

In [36]:
test3()

(1, 2, 3, 5, [1, 2, 3, 5, 54])

In [44]:
a,b,c,d,e = test3()

In [45]:
a

1

In [48]:
def test4():
    a = 4*5
    b = 5+6
    return a, b

In [49]:
test4()

(20, 11)

In [53]:
def test5():
    a = 1
    b = 10
    while a <= b:
        print(a)
        a = a + 2
    else:
        print('print else block')

In [54]:
test5()

1
3
5
7
9
print else block

In [55]:
def test6(a,b):
    while a <= b:
        print(a)
        a = a + 2
    else:
        print('print else block')

In [56]:
test6(1,10)

1
3
5
7
9
print else block

In [58]:
test6(2,20)

2
4
6
8
10
12
14
16
18
20
print else block

In [62]:
def test7(a,b):
    l = []
    while a <= b:
        print(a)
        l.append(a)
        a = a + 2
    else:
        print('print this')
    return l

In [64]:
test7(1,10)

1
3
5
7
9
print this

[1, 3, 5, 7, 9]

In [66]:
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [67]:
l1

[4, 5, 6, 67, 7, 8, 8, 9, 9, 9, 9]

In [74]:
def test8():
    l1 = []
    for i in l:
        if type(i) == int:
            l1.append(i)
        return l1

In [75]:
test8()

[4]